# Environment files
venv/
.flaskenv

# Vscode files
.vscode/
.ropeproject/
settings.json

# Python cache files
__pycache__/
*.py[cod]
*.pyc
code/app/create_seat_list.py
testing.py

# SQLite files
*.sqlite

# IMAGES
__movies__/

# NPM modules
frontend/node_modules/